@import url(//fonts.google.com/noto/specimen/Noto+Sans+Thai);

* {
  margin: 0;
  font-family: Noto Sans Thai !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Noto Sans Thai;
}
